n8n/workflows/guest-platform/guest_full_onboarding.json
{
  "name": "guest_full_onboarding",
  "nodes": [
    {
      "id": "Webhook_Onboard",
      "name": "Full Onboarding Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "4d56f291f8f14a2184da6df1",
      "position": [220, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "guest-platform/full-onboarding",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "IF_Auth",
      "name": "Auth Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [340, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers.authorization || $json.headers.Authorization || ''}}",
              "operation": "equals",
              "value2": "={{'Bearer ' + ($vars.FULL_ONBOARDING_TOKEN || '')}}"
            }
          ]
        }
      }
    },
    {
      "id": "Function_Normalize",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [470, 300],
      "parameters": {
        "functionCode": "const body = $json.body ?? $json;\nconst guestName = (body.guest_name || body.guest || '').toString().trim();\nconst appSlug = (body.app_slug || body.app || 'starter-app').toString().trim().toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\nif (!guestName || !appSlug) throw new Error('missing guest_name or app_slug');\nreturn [{ json: { guest_name: guestName, guest_email: body.guest_email || '', guest_slack_user_id: body.guest_slack_user_id || '', app_slug: appSlug, description: body.description || `Guest app for ${guestName}` } }];"
      }
    },
    {
      "id": "Set_Config",
      "name": "Set Automation Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "automation_url",
              "value": "http://guest-automation:18111/guest-platform/full-onboard",
              "type": "string"
            },
            {
              "id": "cfg2",
              "name": "automation_token",
              "value": "={{$vars.GUEST_AUTOMATION_TOKEN || ''}}",
              "type": "string"
            },
            {
              "id": "cfg3",
              "name": "operator_channel",
              "value": "={{$vars.SLACK_OPERATOR_ALERT_CHANNEL || ''}}",
              "type": "string"
            },
            {
              "id": "cfg4",
              "name": "slack_token",
              "value": "={{$vars.SLACK_BOT_TOKEN || ''}}",
              "type": "string"
            },
            {
              "id": "p1",
              "name": "guest_name",
              "value": "={{$node[\"Normalize Request\"].json.guest_name}}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "guest_email",
              "value": "={{$node[\"Normalize Request\"].json.guest_email}}",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "guest_slack_user_id",
              "value": "={{$node[\"Normalize Request\"].json.guest_slack_user_id}}",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "app_slug",
              "value": "={{$node[\"Normalize Request\"].json.app_slug}}",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "description",
              "value": "={{$node[\"Normalize Request\"].json.description}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "keepOnlySet": false
        }
      }
    },
    {
      "id": "HTTP_Automation",
      "name": "Run Full Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300],
      "onError": "continueRegular",
      "parameters": {
        "method": "POST",
        "url": "={{$json.automation_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.automation_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { guest_name: $json.guest_name, guest_email: $json.guest_email, guest_slack_user_id: $json.guest_slack_user_id, app_slug: $json.app_slug, description: $json.description } }}",
        "options": {
          "ignoreResponseCode": true,
          "ignoreHttpStatusErrors": true
        }
      }
    },
    {
      "id": "Function_SlackMsg",
      "name": "Build Operator Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1180, 300],
      "parameters": {
        "functionCode": "const ok = !!$json.ok;\nconst text = ok\n  ? ['*Guest Full Onboarding Completed*', `guest: ${$json.guest_slug || 'n/a'}`, `channel: #${$json.channel_name || 'n/a'} (${ $json.channel_id || 'n/a'})`, `repo: https://github.com/${$json.repo || 'n/a'}`].join('\\n')\n  : ['*Guest Full Onboarding Failed*', `error: ${$json.error || 'unknown'}`, `detail: ${$json.detail || 'n/a'}`].join('\\n');\nreturn [{ json: { ...$json, text } }];"
      }
    },
    {
      "id": "HTTP_Notify",
      "name": "Notify Operator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300],
      "onError": "continueRegular",
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.slack_token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { channel: $json.operator_channel, text: $json.text } }}",
        "options": {
          "ignoreResponseCode": true,
          "ignoreHttpStatusErrors": true
        }
      }
    },
    {
      "id": "Respond_Unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [470, 460],
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { ok: false, error: 'unauthorized' } }}"
      }
    },
    {
      "id": "Respond_Done",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: $node['Run Full Automation'].json.ok ?? false, error: $node['Run Full Automation'].json.error ?? null, guest_slug: $node['Run Full Automation'].json.guest_slug ?? null, channel_name: $node['Run Full Automation'].json.channel_name ?? null, channel_id: $node['Run Full Automation'].json.channel_id ?? null, repo: $node['Run Full Automation'].json.repo ?? null, github: $node['Run Full Automation'].json.github ?? null, slack: $node['Run Full Automation'].json.slack ?? null, vercel: $node['Run Full Automation'].json.vercel ?? null } }}"
      }
    }
  ],
  "connections": {
    "Full Onboarding Webhook": {
      "main": [
        [
          {
            "node": "Auth Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Valid?": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Set Automation Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Automation Config": {
      "main": [
        [
          {
            "node": "Run Full Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Full Automation": {
      "main": [
        [
          {
            "node": "Build Operator Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Operator Message": {
      "main": [
        [
          {
            "node": "Notify Operator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Operator": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
