n8n/workflows/guest-platform/guest_repo_factory.json
{
  "name": "guest_repo_factory",
  "nodes": [
    {
      "id": "Webhook_Factory",
      "name": "Factory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "guest-platform/repo-factory",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "Function_Prep",
      "name": "Prepare Repo Inputs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 300],
      "parameters": {
        "functionCode": "const body = $json.body ?? $json;\nconst owner = $env.GITHUB_OWNER || 'TommyKammy';\nconst guest = (body.guest || '').trim().toLowerCase();\nconst appSlug = (body.app_slug || '').trim().toLowerCase();\nif (!guest || !appSlug) throw new Error('Missing guest or app_slug');\nconst repoName = `${guest}-${appSlug}`;\nreturn [{ json: { owner, guest_slug: guest, app_slug: appSlug, repo_name: repoName, full_repo: `${owner}/${repoName}`, description: body.description || 'Guest app repository' } }];"
      }
    },
    {
      "id": "Exec_Register",
      "name": "Run Register Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 300],
      "parameters": {
        "command": "=./scripts/guest-platform/register_guest_app.sh {{$json.guest_slug}} {{$json.app_slug}} \"{{$json.description}}\""
      }
    },
    {
      "id": "Respond_Factory",
      "name": "Respond Repo Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"repo\": $node[\"Prepare Repo Inputs\"].json.full_repo,\n  \"url\": \"https://github.com/\" + $node[\"Prepare Repo Inputs\"].json.full_repo\n}"
      }
    }
  ],
  "connections": {
    "Factory Webhook": {
      "main": [
        [
          {
            "node": "Prepare Repo Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Repo Inputs": {
      "main": [
        [
          {
            "node": "Run Register Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Register Script": {
      "main": [
        [
          {
            "node": "Respond Repo Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
