n8n/workflows/guest-platform/guest_repo_factory.json
{
  "name": "guest_repo_factory",
  "nodes": [
    {
      "id": "Webhook_Factory",
      "name": "Factory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "guest-platform/repo-factory",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "Function_Prep",
      "name": "Prepare Repo Inputs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "functionCode": "const body = $json.body ?? $json;\nconst owner = $env.GITHUB_OWNER || 'TommyKammy';\nconst guest = (body.guest || '').trim().toLowerCase();\nconst appSlug = (body.app_slug || '').trim().toLowerCase();\nif (!guest || !appSlug) throw new Error('Missing guest or app_slug');\nconst repoName = `${guest}-${appSlug}`;\nconst fullRepo = `${owner}/${repoName}`;\nconst cmd = `./scripts/guest-platform/register_guest_app.sh ${guest} ${appSlug} \"${(body.description || 'Guest app repository').replace(/\"/g, '')}\"`;\nreturn [{ json: { guest, app_slug: appSlug, owner, repo_name: repoName, full_repo: fullRepo, description: body.description || 'Guest app repository', operator_command: cmd, channel: $env.SLACK_OPERATOR_ALERT_CHANNEL || '' } }];"
      }
    },
    {
      "id": "HTTP_Notify_Operator",
      "name": "Notify Operator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SLACK_BOT_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { channel: $json.channel, text: 'Guest repo factory request: ' + $json.full_repo + '\\nRun on host: ' + $json.operator_command } }}"
      }
    },
    {
      "id": "Respond_Factory",
      "name": "Respond Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mode: 'operator-assisted', repo: $node['Prepare Repo Inputs'].json.full_repo, command: $node['Prepare Repo Inputs'].json.operator_command } }}"
      }
    }
  ],
  "connections": {
    "Factory Webhook": {
      "main": [
        [
          {
            "node": "Prepare Repo Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Repo Inputs": {
      "main": [
        [
          {
            "node": "Notify Operator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Operator": {
      "main": [
        [
          {
            "node": "Respond Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
